.custom_height_card {
	display: inline-block;
}

.blur_container .custom_height {
	position: relative;
  margin-bottom: auto;
	margin-top: 2.4vh !important;
}

.blur_container .custom_height .content {
	text-align: left;
}

.blur_container .custom_height .content h2 {
	position: absolute;
	text-outline: -3vh;
	top: 10vh;
  left: -100px;
	right: 30px;
	font-size: 15em;
  transform: rotate(-20deg);
	color: rgba(255, 255, 255, 0.1);
	pointer-events: none;
}

.blur_container .custom_height .content h3 {
	font-size: calc(2.3vh + .5vw + 11px);
	color: white;
	text-align: center;
	margin: 20px 0 20px -5px;
	z-index: 1;
}

.blur_container .custom_height .content p {
	font-size: calc(1.2vh + .1vw + 5px);
	color: white;
	font-weight: 300;
}

.blur_container .custom_height .content ul {
  font-size: 22px;
}

.blur_container .custom_height ul li {
  margin-left: 40px;
  position: relative;
}

.blur_container .custom_height .content ul li img {
	width: 8px;
	margin: 2px 6px 2px 4px;
}

.blur_container .custom_height a {
	position: absolute;
  bottom: 64px;
  left: 90px;
	display: inline-block;
	padding: 20px 30px;
  font-size: calc(1.5vh + .2vw + 7px);
  background-color: rgb(102, 153, 204);
  color: black;
	text-decoration: none;
	font-weight: 500;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}

.blur_container .custom_height a:hover {
  background-color: white;
}

@media screen and (max-width: 100vh) {
	.custom_height {
		width: 100vw !important;
	}
}
