/* #title_container {
  background-image: url("../Resurces/Images/Title Backgrounds/1.jpg");
  animation-name: background_img;
  animation-duration: 20s;
	animation-iteration-count: 1000000;
}

#middle_circle, #central_circle
{
  background-image: url("../Resurces/Images/Title Backgrounds/1.jpg");
  animation-duration: 20s;
	animation-iteration-count: 1000000;
  animation-timing-function: ease-in-out;
}

#middle_circle {
  animation-name: rotate_p;
}

#central_circle {
  animation-name: rotate_n;
}

@keyframes rotate_p {
  0% {
		transform: rotate(0deg);
    background-image: url("../Resurces/Images/Title Backgrounds/4.jpg");
	}
  2% {
    transform: rotate(360deg);
    background-image: url("../Resurces/Images/Title Backgrounds/1.jpg");
  }
  4% {
    transform: rotate(0deg);
    background-image: url("../Resurces/Images/Title Backgrounds/1.jpg");
  }

  25% {
    transform: rotate(0deg);
    background-image: url("../Resurces/Images/Title Backgrounds/1.jpg");
  }
  27% {
    transform: rotate(360deg);
    background-image: url("../Resurces/Images/Title Backgrounds/2.jpg");
  }
  29% {
    transform: rotate(0deg);
    background-image: url("../Resurces/Images/Title Backgrounds/2.jpg");
  }

  50% {
    transform: rotate(0deg);
    background-image: url("../Resurces/Images/Title Backgrounds/2.jpg");
  }
  52% {
    transform: rotate(360deg);
    background-image: url("../Resurces/Images/Title Backgrounds/3.jpg");
  }
  54% {
    transform: rotate(0deg);
    background-image: url("../Resurces/Images/Title Backgrounds/3.jpg");
  }

  75% {
    transform: rotate(0deg);
    background-image: url("../Resurces/Images/Title Backgrounds/3.jpg");
  }
  77% {
    transform: rotate(360deg);
    background-image: url("../Resurces/Images/Title Backgrounds/4.jpg");
  }
  79% {
    transform: rotate(0deg);
    background-image: url("../Resurces/Images/Title Backgrounds/4.jpg");
  }
}

@keyframes rotate_n {
  0% {
		transform: rotate(0deg);
    background-image: url("../Resurces/Images/Title Backgrounds/4.jpg");
	}
  2% {
    transform: rotate(-360deg);
    background-image: url("../Resurces/Images/Title Backgrounds/1.jpg");
  }
  4% {
    transform: rotate(0deg);
    background-image: url("../Resurces/Images/Title Backgrounds/1.jpg");
  }

  25% {
    transform: rotate(0deg);
    background-image: url("../Resurces/Images/Title Backgrounds/1.jpg");
  }
  27% {
    transform: rotate(-360deg);
    background-image: url("../Resurces/Images/Title Backgrounds/2.jpg");
  }
  29% {
    transform: rotate(0deg);
    background-image: url("../Resurces/Images/Title Backgrounds/2.jpg");
  }

  50% {
    transform: rotate(0deg);
    background-image: url("../Resurces/Images/Title Backgrounds/2.jpg");
  }
  52% {
    transform: rotate(360deg);
    background-image: url("../Resurces/Images/Title Backgrounds/3.jpg");
  }
  54% {
    transform: rotate(0deg);
    background-image: url("../Resurces/Images/Title Backgrounds/3.jpg");
  }

  75% {
    transform: rotate(0deg);
    background-image: url("../Resurces/Images/Title Backgrounds/3.jpg");
  }
  77% {
    transform: rotate(-360deg);
    background-image: url("../Resurces/Images/Title Backgrounds/4.jpg");
  }
  79% {
    transform: rotate(0deg);
    background-image: url("../Resurces/Images/Title Backgrounds/4.jpg");
  }
}

@keyframes background_img {
  0% {
    background-image: url("../Resurces/Images/Title Backgrounds/4.jpg");
	}
  5% {
    background-image: url("../Resurces/Images/Title Backgrounds/1.jpg");
  }

  25% {
    background-image: url("../Resurces/Images/Title Backgrounds/1.jpg");
  }
  30% {
    background-image: url("../Resurces/Images/Title Backgrounds/2.jpg");
  }

  50% {
    background-image: url("../Resurces/Images/Title Backgrounds/2.jpg");
  }
  55% {
    background-image: url("../Resurces/Images/Title Backgrounds/3.jpg");
  }

  75% {
    background-image: url("../Resurces/Images/Title Backgrounds/3.jpg");
  }
  77% {
    background-image: url("../Resurces/Images/Title Backgrounds/4.jpg");
  }
}

#main_title_content::after
{
  content: "Strategy+ Business Lab";
  animation-name: title_1;
  animation-duration: 20s;
	animation-iteration-count: 1000000;
  animation-timing-function: ease-in-out;
}

#main_title_content_second_line::after
{
  content: "";
  animation-name: title_2;
  animation-duration: 20s;
	animation-iteration-count: 1000000;
  animation-timing-function: ease-in-out;
}

#second_title::after {
  content: "Strategic about your business";
  animation-name: second_title;
  animation-duration: 20s;
	animation-iteration-count: 1000000;
  animation-timing-function: ease-in-out;
}

@keyframes title_1 {
  0% {
		content: "Strategy+ Business Lab  ";
	}

  25% {
    content: "Strategy+ Business Lab";
  }

  50% {
    content: "Opportunities";
  }

  75% {
    content: "Opportunities";
  }
}

@keyframes title_2 {
  0% {
		content: "";
	}

  25% {
    content: "";
  }

  50% {
    content: "Source of Global";
  }

  75% {
    content: "Source of Global";
  }
}

@keyframes second_title {
  0% {
		content: "Strategic about your business";
	}

  25% {
    content: "Because Business is Human";
  }

  50% {
    content: "Local Market Intelligence";
  }

  75% {
    content: "Industry Know-how";
  }
} */
