.title_container {
  display: inline-grid;
  width: 100vw;
  height: 100vh;
  place-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.main_title {
  display: inline-grid;
  width: 100vw;
  height: 10vh;
  place-items: center;
  position: relative;
  overflow: hidden;
  font-size: 5vh;
  letter-spacing: 2vw;
  color: white;
  font-family: "Josefin Slab";
  text-align: center;
  text-transform: uppercase;
}

.main_title::after {
  display: inline-grid;
  width: 90%;
  height: 10vh;
  place-items: center;
  position: absolute;
  left: 5%;
  top: 0;
}

.title_line {
  display: inline-grid;
  width: 30vw;
  height: 0.01vh;
  margin: 0 35vw;
  background-color: white;
  animation: line 5s infinite;
}

@keyframes main_title {
  0% {
    top: 0;
  }
  85% {
    top: 0;
  }
  90% {
    top: 100%;
  }
  95% {
    top: 0;
  }
}

@keyframes line {
  0% {
    width: 30vw;
    margin: 0 35vw;
    opacity: 1;
  }
  90% {
    width: 30vw;
    margin: 0 35vw;
    opacity: 1;
  }
  95% {
    width: 50vw;
    margin: 0 25vw;
    opacity: 0;
  }
  100% {
    width: 30vw;
    margin: 0 35vw;
    opacity: 1;
  }
}

.subtitle:after {
  display: inline-grid;
  width: 100vw;
  height: 5vh;
  font-size: 3vh;
  font-family: "Darker Grotesque";
  letter-spacing: 1vw;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  text-transform: uppercase;
}

@keyframes subtitle {
  0% {
    font-size: 3vh;
    opacity: 1;
    letter-spacing: 1vw;
  }
  85% {
    font-size: 3vh;
    opacity: 1;
    letter-spacing: 1vw;
  }
  90% {
    font-size: 0vh;
    opacity: 0;
    letter-spacing: 0.3vw;
  }
  95% {
    font-size: 3vh;
    opacity: 1;
    letter-spacing: 1vw;
  }
}
