.main_title::after {
  content: "Tourism";
  animation: main_title 5s infinite,
             main_title_content 10s infinite;
}

.subtitle:after {
  content: "Hospitality";
  animation: subtitle 5s infinite,
             subtitle_content 10s infinite;
}

@keyframes main_title_content {
  0%, 40% {
    content: "Tourism";
  }
  50%, 90% {
    content: "Strategy+ Business Lab";
  }
}

@keyframes subtitle_content {
  0%, 40% {
    content: "Hospitality";
  }
  50%, 90% {
    content: "Corporate Consultancy";
  }
}
